$sidebarWidth: 10rem;
$headerHeight: 7rem;

/* Text Sizes */
$textSm3x: 1rem;
$textSm2x: 1.2rem;
$textSm: 1.4rem;
$textMd: 1.8rem;
$textLg: 2.0rem;
$textXl: 2.4rem;
$text2Xl: 2.8rem;
$text3Xl: 3.2rem;

/* Colors */
$mainBgColor: #ffffff;

$white: #ffffff;

$textColorWhite: #ffffff;

/* Border */
$borderMainColor: #e8e8e9;
$borderSecondColor: #b8b8b8;

/* Svg */
$svgIconFill: $white;


