@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars";
@import "fonts";

html{
    font-size: 62.5%
}

@import "blocks/sidebar";
@import "blocks/header";
@import "blocks/button";
@import "blocks/addableList";
@import "blocks/inputs";
@import "blocks/select";
@import "blocks/fields";
@import "blocks/icons";
@import "blocks/mealList";

/* Pages */
@import "blocks/pages/dish/dish";
@import "blocks/pages/schedule/schedule";
@import "blocks/pages/schedule/schedule-grid";


body{
    font-size: 1.6rem;
}

main{
    padding: calc($headerHeight - .5rem) 0 0 calc($sidebarWidth);

    position: relative;

    font-family: "M_R";

    height: 100vh;

    overflow-y: scroll;
    overflow-x: scroll;

    scrollbar-width: none;
}

.container{
    width: 1280px;
    max-width: 100%;
}
