/* Btns */
$mainBtnBgColor: #008b7c;
$secondBtnBgColor: #516365;

.btn{
    display: flex;
    align-items: center;
    gap: .5rem;
    background: $mainBtnBgColor;
    color: $textColorWhite;

    padding: .5rem 1.4rem;

    border-radius: 1rem;

    &:hover{
        background: darken($mainBtnBgColor, 7);
        transition: background .2s linear;
    }

    &--btn__gray{
        background: $secondBtnBgColor;

        &:hover{
            background: darken($secondBtnBgColor, 7);
            transition: background .2s linear;
        }
    }
}

.btn-icon{
    width: 20px;
    height: 20px;
    fill: $svgIconFill;
}

.btn-fields__product-unit{
    font-weight: 700;
    font-size: $textSm;

    border: 2px solid $borderSecondColor;

    padding: .5rem;

    border-radius: .4rem;

    &:hover{
        background: $borderSecondColor;

        transition: background .2s linear;
    }

    &.active{
        background: $borderSecondColor;
    }
}

.btn-fields__dashed-border{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: 2rem;

    border-radius: 1rem;

    font-size: $textSm;
    padding: 1.2rem 0;

    border: 1px dashed $borderSecondColor;
}

.btn-white{
    font-size: $textSm2x;

    background: white;

    border: 1px solid $borderSecondColor;

    padding: .6rem;

    border-radius: .8rem;

    &:hover{
        background: darken(white, 10);

        transition: background .2s linear;
    }
}
