.list-icon{
    fill: $sidebarLinkItemColor;
    width: 25px;
    cursor: pointer;

    &:hover{
        fill: $mainBtnBgColor;

        transition: fill .2s linear;
    }

    &.active{
        fill: $mainBtnBgColor;
    }
}

.icon-button-svg{
    width: 40px;

    cursor: pointer;

    fill: $mainBtnBgColor;

    &:hover{
        fill: $mainBtnBgColorHover;
        transition: fill .2s linear;
    }
}

.eye-icon{
    width: 30px;

    cursor: pointer;

    fill: $mainBtnBgColor;

    &:hover{
        fill: $mainBtnBgColorHover;
        transition: fill .2s linear;
    }
}
